body{
	font-family: Arial;
	text-align: center; 
	}

#form_register{
	text-align: left; 
	background-image: url('beige-background.jpg');
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;  
	border-radius: 10px 10px 10px 10px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.5em 1.5em 1.5em;
	margin: 0 auto;
	overflow: hidden;
	}	
	
	
	#form_login{
	text-align: left; 
	background-image: url('beige-background.jpg');
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;  
	border-radius: 10px 10px 10px 10px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1.5em 1.5em 1.5em;
	margin: 50 auto;
	overflow: hidden;
	}	
#form_register fieldset{
	border: none;
	}
	

#form_login fieldset{
	border: none;
	}

		
#form_register legend{
	display: block;
	font-size: 25px;
	padding: 10px;
	}

#form_register label{
	padding: 0px;
	display: block;
	font-size: 0.6em;
	margin: 20px 0px 0px 0px;
	}

#form_login legend{
	display: block;
	font-size: 25px;
	padding: 10px;
	}

#form_login label{
	padding: 0px;
	display: block;
	font-size: 0.6em;
	margin: 20px 0px 0px 0px;
	}


	/*LABEL GENERATO DA VALIDATE*/
#form_register label.error{
	color: #f33;
	padding: 0;
	margin: 2px 0 0 0;
	font-size: 0.5em;
	padding-left: 18px;
	background-image: url('error.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	}



#form_login label.error{
	color: #f33;
	padding: 0;
	margin: 2px 0 0 0;
	font-size: 0.5em;
	padding-left: 18px;
	background-image: url('error.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	}



/*input text e password*/
#form_register #reg_user,#form_register #reg_name,#form_register #reg_surname, #form_register #reg_email, #form_register #reg_pass1, #form_register #reg_pass2{
	height: 30px;
	width: 200px;
	display: block;
	border: none;
	font-size: 16px;
	line-height: 28px;
	}
	
#form_login #reg_user,#form_login #reg_pass{
	height: 30px;
	width: 200px;
	display: block;
	border: none;
	font-size: 16px;
	line-height: 28px;
	}

	
/*imput type submit e reset*/
#form_register #reg_submit, 	#form_register #reg_reset{
	height: 30px;
	width: 220px;
	color: #fff;
	font-weight: bold;
	opacity: 0.7;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;  
	border-radius: 10px;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	-webkit-appearance: none;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	display: block;
	}
	
#form_register #reg_submit{background: #0a0; margin-top: 40px;}
#form_register #reg_reset{background: #f33; margin-top: 20px;}
	
#form_register #reg_submit:hover,
#form_register #reg_submit:active,
#form_register #reg_reset:hover,
#form_register #reg_reset:active{
	cursor: pointer;
	opacity: 1;
	}
	
#form_login #reg_submit, 	#form_login #reg_reset,{
	height: 30px;
	width: 220px;
	color: #fff;
	font-weight: bold;
	opacity: 0.7;
	border: 1px solid #999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;  
	border-radius: 10px;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
	-webkit-appearance: none;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
	display: block;
	}
	
#form_login #reg_submit{background: #0a0; margin-top: 40px;}
#form_login #reg_reset{background: #f33; margin-top: 20px;}
	
#form_login #reg_submit:hover,
#form_login #reg_submit:active,
#form_login #reg_reset:hover,
#form_login #reg_reset:active{
	cursor: pointer;
	opacity: 1;
}

#form_register #reg_privacy
{
	height:100px;
	width:250px;
	text-transform:uppercase;
	text-align:left;
	margin-bottom:2px;

}

textarea#commento
{
	position:absolute;
	top:50px;
	left:1200px;
	height:500px;
	width:200px;
}

#form_modifica_div
{
	position:absolute;
	top:250px;
	left:800px;
	width:200px;

}
div#form_register_B 
{position:absolute;
top:250px;
left:350px;
}

div#form_register_S 
{position:absolute;
top:250px;
left:350px;
width:140px;

}

div#form_register_P 
{position:absolute;
top:250px;
left:350px;
width:140px;
}